@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
  background-color: darkgrey;
    font-family: 'Poppins', sans-serif;
}
div{
  display:flex;
  align-items: center;
  justify-content:center;
  font-size: 2em;
  color:#000;
  text-shadow: 2px 2px 2px whitesmoke;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-1{
  background-image: url("yoga1.webp");
  width:100%;
  height:100vh;
}
.bg-2{
  background-image: url("yoga2.webp");
  width:100%;
  height:100vh;
}
.bg-3{
  background-image: url("yoga3.webp");
  width:100%;
  height:100vh;
}
.bg-4{
  background-image: url("yoga4.webp");
  width:100%;
  height:100vh;
}


  